.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
tsconfig.json
**/*.map
**/*.ts
!out/**/*.js
node_modules/.package-lock.json
node_modules/**/*.md
node_modules/**/*.ts
node_modules/**/*.map
node_modules/**/test/**
node_modules/**/tests/**
